body {
  margin: 0;
  background-color: black !important;
  overflow-x: hidden !important;
  box-sizing: border-box !important;
}

#starContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: -1;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #fff,
  0 0 80px #fff; 
}

/* Set the animation, color, size and hide the text */
.intro {
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 1;
  animation: intro 2s ease-out 1s;
  color: rgb(75, 213, 238);
  font-weight: 400;
  font-size: 300%;
  opacity: 0;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Set the animation & hide the logo */
.logo {
  position: absolute;
  top: 20%;
  left: -30%;
  z-index: 1;
  margin: auto;
  animation: logo 4s ease-out 4s;
  opacity: 0;
  font-size: 1000%;
}

.logo svg {
  width: inherit;
}

/* Scale the logo down and maintain it centered */
@keyframes logo {
  0% {
    width: 18em;
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
    width: 18em;
  }
}

p {
  color: #ffff82;
}

#second-div {
  display: none;
}

#show-more {
  cursor: pointer;
}

#filter-button{
 cursor: pointer;
 
 
}

